.App{
  padding: 15px;
  background: #eeeeee;
}
ul{
  display: inline;
  padding: 0;
}
li{
  display: inline;
  margin: 0 5px 0 0;
  padding: 0 5px 0 0;
}
a {
  display: inline;
  color: #6666FF;
}
a:hover {
  color: #3333FF;
  font-weight: bolder;
}

button{
  background-color: #0088ce;
  background-image: linear-gradient(to bottom,#39a5dc 0,#0088ce 100%);
  background-repeat: repeat-x;
  border-color: #00659c;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;

}
button:hover {   
  background-color: #03699c;
  background-image: linear-gradient(to bottom,#39a5dc 0,#03699c 100%);
}

.btn-link{
  padding: 10px;
  color: darkorange;
  border-radius: 5px;
  margin: 5px;
  font-weight: 700;
}
.btn-link:hover{
  color: darkorange;
  font-weight: 900;
}

.card{
  border: 1px solid #cccccc;
  background: whitesmoke;
  padding: 15px;
  margin: 15px;
}

.json{
  padding: 15px;
  margin: 15px;
  border: 1px solid #cccccc;
  background: whitesmoke;
  font: .9rem;
}